<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage" uri="datacollector://Microsoft/CodeCoverage/2.0" assemblyQualifiedName="Microsoft.VisualStudio.Coverage.DynamicCoverageDataCollector, Microsoft.VisualStudio.TraceCollector, Version=11.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>.*\.dll$</ModulePath>
              </Include>
              <Exclude>
                <ModulePath>.*Microsoft.WindowsAzure.Storage.dll$</ModulePath>
                <ModulePath>.*chipotle.testing.specflow.core.dll$</ModulePath>
                <ModulePath>.*chipotle.enterprise.security.jwt.dll$</ModulePath>
                <ModulePath>.*Chipotle.Core.Logging.dll$</ModulePath>
                <ModulePath>.*Chipotle.Logging.Splunk.dll$</ModulePath>
                <ModulePath>.*core.common*.dll$</ModulePath>
                <ModulePath>.*Moq.dll$</ModulePath>
                <ModulePath>.*Test.Integration.dll$</ModulePath>
                <ModulePath>.*Test.Unit.dll$</ModulePath>
                <ModulePath>.*Test.Acceptance.dll$</ModulePath>                
              </Exclude>
            </ModulePaths>
            <Attributes>
              <Exclude>
                <Attribute>^System\.Diagnostics\.CodeAnalysis.ExcludeFromCodeCoverageAttribute$</Attribute>
              </Exclude>
            </Attributes>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>