
$roboto-condensed: 'Roboto Condensed', serif;

$chipotle-black: rgb(34, 34, 34);
$chipotle-grey: rgb(119, 119, 119);
$chipotle-dark-brown: #33221b;
$chipotle-brown: #54392d;
$chipotle-brown2:  rgb(79, 79, 79);
$chipotle-white: rgb(255, 255, 255);
$chipotle-red: #ba0000;
$chipotle-red-hover: darken($chipotle-red, 10%);
$heading-black: #222222;


$button-blue: rgb(68, 124, 157);
$button-blue-dark: rgb(60, 110, 139);

$button-orange: rgb(191, 130, 64);
$button-orange-dark: rgb(126, 86, 42);
